{% extends 'basenews.html.twig' %}

{% block body %}
<div class="container">
    <h2>Actualités chez ASA</h2>
    <div class="blog-post">
        <div class="blog-post_img">
            <img src="https://images.unsplash.com/photo-1588354924596-71b1cb1393fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                 alt="image du blog-post2">
        </div>
        <div class="blog-post_info">
            <div class="blog-post_date">
                <span>Sept 07 2021</span>
            </div>
            <h1 class="blog-post_title">Titre de l'actu postée par ASA.</h1>
            <p class="blog-post_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores a, tempore veniam quasi sint fugiat
                facilis, facere, amet magnam optio velit. Laudantium et temporibus soluta, esse cupiditate aliquid
                dicta
                accusantium.
            </p>
            <a href="#" class="blog-post_cta">Read More</a>
        </div>
    </div>

    <div class="blog-post">
        <div class="blog-post_img">
            <img src="https://images.unsplash.com/photo-1524860769472-246b6afea403?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                 alt="image du blog-post2">
        </div>
        <div class="blog-post_info">
            <div class="blog-post_date">
                <span>Juin 09 2022</span>
            </div>
            <h1 class="blog-post_title">Titre de l'actu postée par ASA.</h1>
            <p class="blog-post_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores a, tempore veniam quasi sint fugiat
                facilis, facere, amet magnam optio velit. Laudantium et temporibus soluta, esse cupiditate aliquid
                dicta
                accusantium.
            </p>
            <a href="#" class="blog-post_cta">Read More</a>
        </div>
    </div>
</div>

{% endblock %}
