{% extends 'base.html.twig' %}

{% block title %}Welcome to ASA{% endblock %}


{% block body %}

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title" style="margin-top: 100px">
                <h2>Contacter l'association</h2>
                <p class="text-center">Si vous avez une quelconque demande par-rapport à notre association, veuillez nous contacter via les coordonnées ci-dessous. Vous avez aussi la possibilité d'utiliser ce formulaire.</p>
            </div>
            {% for message in app.flashes("messagem")  %}
                <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/> </svg>

                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="phone" id="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Téléphone:</h4>
                            <p>+33698134855</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>actionssocialesafrique@gmail.com</p>
                        </div>

                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Localisation:</h4>
                            <p></p>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2688.219183476324!2d6.853331215467716!3d47.64130739357321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47923b61659e0473%3A0x54aa136491d0d0bf!2s5%20Bd%20du%20Mar%C3%A9chal%20Joffre%2C%2090000%20Belfort!5e0!3m2!1sfr!2sfr!4v1654601233052!5m2!1sfr!2sfr" width="498" height="450" style="border:0;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    {{ form(form) }}
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
{% endblock %}
