<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #112A46">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}"> <img alt="logo d'ASA" src="{{ asset('media/logo-min.jpg') }}" style="height: 60px" class="img-fluid rounded-circle w-100 mx-4" > </a>
    </div>
</nav>
