{% extends 'base.html.twig' %}
{% block title %}Faire un don{% endblock %}

{% block body %}
    <h1 style="margin-top: 80px; margin-left: 46%">Faire un don</h1>
    <form action="/checkout" method="POST">
        <button type="submit" class="btn btn-primary btn-lg" style="margin-left: 50%">Donner</button>
    </form>

<div>

</div>
{% endblock %}
